.btn-container {
  text-align: left;
  padding: 10px;
}

.btn {
  margin-left: 10px;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  padding: 10px;
}

.btn-New {
  background-color: #025aa5;
}

.btn-Edit {
  background-color: #f0ad4e;
}

.btn-Delete {
  background-color: #c9302c;
}
